<!doctype html>
<html lang="en">
<%- include("partial/head-home") %> 

<body>
<%- include("partial/main-home") %>
<%- include("partial/feature-home") %>
<%- include("partial/game-home") %>
<%- include("partial/requirmen-home") %>
<%- include("partial/score-home") %>
<%- include("partial/js-boostrap") %>
</body>
</html>
